{{- /* Twitter Cards（对应 PaperMod partials/templates/twitter_cards.html） */}}
{{- $images := partial "seo/get-page-images.html" . }}
{{- with index $images 0 }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Permalink }}" />
{{- else }}
<meta name="twitter:card" content="summary" />
{{- end }}
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
{{- with site.Params.social.twitter }}
{{- $t := . }}
{{- if not (strings.HasPrefix $t "@") }}{{ $t = printf "@%s" $t }}{{ end }}
<meta name="twitter:site" content="{{ $t }}" />
{{- end }}
