<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}"{{ if eq .Layout "search" }} data-pagefind-ignore{{ end }}>
<head>
  {{ partial "head.html" . }}
</head>
{{ $layout := site.Params.layout | default "right" }}
{{ if .Params.layout }}{{ $layout = .Params.layout }}{{ end }}
{{ $sb := false }}
{{ if site.Params.sidebar.about.text }}{{ $sb = true }}{{ end }}
{{ if gt (int (site.Params.sidebar.recentPosts | default 0)) 0 }}{{ $sb = true }}{{ end }}
{{ if site.Params.sidebar.categories }}{{ $sb = true }}{{ end }}
{{ if site.Params.sidebar.tags }}{{ $sb = true }}{{ end }}
{{ if site.Params.sidebar.archives }}{{ $sb = true }}{{ end }}
{{ if .Params.fullWidth }}{{ $sb = false }}{{ end }}
<body id="period" class="{{ if eq $layout "left" }}left-sidebar{{ else }}right-sidebar{{ end }}{{ if not $sb }} no-sidebar{{ end }}{{ if site.Params.fullPost }} full-post{{ end }}{{ if .Params.fullWidth }} full-width{{ end }}">
<a class="skip-content" href="#main">{{ i18n "skipToContent" }}</a>
<div id="overflow-container" class="overflow-container">
  {{ partial "site-header.html" . }}
  <div id="primary-container" class="primary-container">
    <div class="max-width">
      <section id="main" class="main" role="main">
        {{ block "main" . }}{{ end }}
      </section>
      {{ if $sb }}{{ partial "sidebar.html" . }}{{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
</div>
{{ partial "scroll-to-top.html" . }}
{{ $js := resources.Get "js/main.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
