{{ define "main" }}
{{ $isPost := in (site.Params.mainSections | default (slice "posts")) .Type }}
<div class="entry">
  <article>
    {{ partial "featured-image.html" (dict "context" . "link" false) }}
    <div class="post-container">
      <div class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ if $isPost }}{{ partial "post-byline.html" . }}{{ end }}
      </div>
      <div class="post-content">
        {{ if and $isPost site.Params.lastUpdated }}
          {{ if ne .Date .Lastmod }}
            <p class="last-updated">{{ i18n "lastUpdatedOn" (dict "date" (.Lastmod | time.Format (site.Params.dateFormat | default "2006年1月2日"))) }}</p>
          {{ end }}
        {{ end }}
        {{ .Content }}
      </div>
      {{ if $isPost }}
      <div class="post-meta">
        {{ partial "post-categories.html" . }}
        {{ partial "post-tags.html" . }}
        {{ partial "further-reading.html" . }}
      </div>
      {{ end }}
    </div>
  </article>
  <div class="comments-container">
    {{ partial "comments.html" . }}
  </div>
</div>
{{ end }}
