{{/* 分页（对应 the_posts_pagination） */}}
{{ if gt .Paginator.TotalPages 1 }}
<nav class="pagination" role="navigation">
  {{ if .Paginator.HasPrev }}
    <a class="prev" href="{{ .Paginator.Prev.URL }}">{{ i18n "previous" }}</a>
  {{ end }}
  {{ range .Paginator.Pagers }}
    <a class="{{ if eq .PageNumber $.Paginator.PageNumber }}current{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a>
  {{ end }}
  {{ if .Paginator.HasNext }}
    <a class="next" href="{{ .Paginator.Next.URL }}">{{ i18n "next" }}</a>
  {{ end }}
</nav>
{{ end }}
