{{/* 署名（对应 content/post-byline.php）：作者链接到作者归档（authors 分类法，类似分类/标签） */}}
{{ $showAuthor := site.Params.displayAuthor | default true }}
{{ $showDate := site.Params.displayDate | default true }}
{{ if or $showAuthor $showDate }}
<div class="post-byline">
  {{ $date := .Date | time.Format (site.Params.dateFormat | default "2006年1月2日") }}
  {{ $dateLink := printf "%sarchives/#%s-%s" site.Home.RelPermalink (.Date.Format "2006") (.Date.Format "01") }}
  {{ $author := .Params.author | default site.Params.author | default site.Title }}
  {{ with .GetTerms "author" }}
    {{ $author = printf "<a class='author' href='%s'>%s</a>" (index . 0).RelPermalink (index . 0).LinkTitle }}
  {{ end }}
  {{ if and $showDate $showAuthor }}
    {{ i18n "publishedOnBy" (dict "date" (printf "<a class='date' href='%s'>%s</a>" $dateLink $date) "author" $author) | safeHTML }}
  {{ else if $showDate }}
    {{ i18n "publishedOn" (dict "date" (printf "<a class='date' href='%s'>%s</a>" $dateLink $date)) | safeHTML }}
  {{ else }}
    {{ i18n "publishedBy" (dict "author" $author) | safeHTML }}
  {{ end }}
</div>
{{ end }}
