{{ if site.Params.searchBar }}
<div class="search-form-container">
  <button id="search-icon" class="search-icon" aria-expanded="false" aria-label="{{ i18n "search" }}">
    <i class="fas fa-search"></i>
  </button>
  <form role="search" method="get" class="search-form" action="{{ site.Home.RelPermalink }}search/">
    <label class="screen-reader-text" for="search-field">{{ i18n "search" }}</label>
    <input type="search" id="search-field" class="search-field" placeholder="{{ site.Params.search.placeholder | default (i18n "searchPlaceholder") }}" value="" name="q" title="{{ i18n "search" }}" tabindex="-1">
  </form>
</div>
{{ end }}
